/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #2F2482;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace
}

#topnavbar {
    color:white;
}

#navbrand {
    border: 1px solid whitesmoke;
    font-size: 1em;
    text-shadow: black 1px 0 5px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}


button.navbar-toggler {
    color: white;
    border: 1px solid whitesmoke;
    text-shadow: black 1px 0 5px;
    border-radius: 0%;
}


a.nav-link {
    color: white;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 0.75em 0.25em 0.25em 0.25em;
    transition: all 0.25s ease-in-out;
    text-align: center;
}


a.nav-link:hover {
    background-color: #85B2D3;
    text-shadow: black 1px 0 5px;
    transition: all 0.25s ease-in-out;
}

a#merch:hover {
    background-color: #c3c4c3;
    text-shadow: black 1px 0 5px;
    transition: all 0.25s ease-in-out;
}

a#donate:hover {
    background-color: #88e6ae;
    text-shadow: black 1px 0 5px;
    transition: all 0.25s ease-in-out;
}

div#headinggroup h1{
    font-size: 4em;
    text-shadow: black 2px 3px 15px;
}

section#mainsection .row {
    margin: 0.75em 0em;
}

.navbar {
    transition: all 0.25s ease-in-out;
}

.navbar.scrolled {
    background-color: #a980add7;
    transition: all 0.25s ease-in-out;

}


h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

section#mainsection img {
    margin: auto;    
    display: block;
}

hr {
    background-color: #85B2D3;
}

@media (min-width: 780px) {
    #navbrand {
        font-size: 1.5em;
    }

    p {
        font-size: 1.5em;
    }

    div#headinggroup h1{
        font-size: 5em;
    }
}